link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css', rel='stylesheet')
header.p-4.shadow-sm
  .inline-block.text-lg
    h1 The Sync and the Async
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2
    a.align-middle(href='/users/more') More
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2.bg-teal-100
    a.align-middle(href='/users/about') About
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.px-2
    a.align-middle(href='users/cards') Home
.container.mt-4.mx-auto
  .max-w-sm.rounded.overflow-hidden.shadow-lg
  img.w-full(src='https://th.bing.com/th/id/OIP.AFQfqnGDX3YF5h492MQxcgHaEM?pid=ImgDet&rs=1', alt='Tortoise and the Hare')
  .px-6.py-4
    .font-bold.text-xl.mb-2 The Focus of this Assignment
    p.text-gray-700.text-base
      | In this project for Harvard Extension School's Node JS class, I riff on the classic "The Tortoise and the Hare." The aim of this project is to demonstrate some of the unique ways synchronous and asynchronous JavaScript compare.
      | In doing this project it's clear that both types of executions have unique advantages. They should be used on an as needed basis rather than thinking that one process is better than the other.
      br
      br
      | Image source: https://th.bing.com/th/id/OIP.AFQfqnGDX3YF5h492MQxcgHaEM?pid=ImgDet&rs=1
  .px-6.pt-4.pb-2
    span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.mb-2 #nodejs
    span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.mb-2 #javascript
    span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.mb-2 #asynchronous
