doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Node.js with TailwindCSS, Express and Pug
    link(href="./styles/style.css", rel="stylesheet")
  body
    h1.text-6xl Hello world!
    p.m-64 My starter template!
    .m-8.p-8.grid.bg-red-600.grid-rows-2.grid-flow-col.gap-4.auto-cols-fr
        .p-4.bg-red-200
            | HyperText Markup language
        .p-4.bg-red-200
            | Cascading Style Sheet
        .p-4.bg-red-200
            | Bootstrap become replacement of CSS
        .p-4.bg-red-200
            | LiveScript Become JavaScript
