link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css', rel='stylesheet')
header.p-4.shadow-sm
  .inline-block.text-lg
    h1 The Sync and the Async
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2.bg-teal-100
    a.align-middle(href='users/more') More
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2
    a.align-middle(href='/users/about') About
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.px-2
    a.align-middle(href='/users/cards') Home
div
  h1.text-center.text-white.p-12.mb-12 What I Learned
  .max-w-3xl.mx-auto.px-1
    .relative.m-0.shadow-lg.flex.bg-white
      .flex-no-shrink
        img.w-64.h-64.block.mx-auto(alt='', src='https://images.unsplash.com/photo-1649287816899-d235901fbd85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80')
      .flex-1.card-block.relative
        .p-6
          h4.font-medium.text-2xl.mb-3 HES Grad Project
          p.leading-normal        
            | Below is a list of ideas covered in this project: 
            br  
            | How to require modules in Node. How to upload a file or show a directory. How to use callbacks. How to use asynchronous programming. How to use Promise . then setup. How to use async and await. Website styling using TailWind and Bootstrap
          