link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css', rel='stylesheet')
header.p-4.shadow-sm
  .inline-block.text-lg
    h1 The Sync and the Async
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2.bg-teal-100
    a.align-middle(href='users/more') More
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.mx-1.px-2
    a.align-middle(href='/users/about') About
  .inline-block.top-auto.text-teal-800.float-right.rounded-full.px-2
    a.align-middle(href='/users/cards') Home
  div
  h1.text-center.text-white.p-12.mb-12 What I Learned
  .max-w-3xl.mx-auto.px-4
    .relative.m-0.shadow-lg.flex.bg-white
      .flex-no-shrink
        img.w-64.h-64.block.mx-auto(alt='', src='https://source.unsplash.com/WLUHO9A_xik/1600x900')
      .flex-1.card-block.relative
        .p-6
          h4.font-medium.text-2xl.mb-3 HES Grad Project
          p.leading-normal        
            | Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.
          p.text-sm.text-grey.block.mt-6 Designation title
          a.-m-4.w-12.h-12.bg-blue-dark.flex.items-center.justify-center.text-center.no-underline.rounded-full.text-white.absolute.pin-t.pin-r(class='hover:bg-blue-darker', href='#')
            i.text-xl.fa.fa-plus
