script.
  hljs.initHighlightingOnLoad();
container
 p.font-light.font-mono.text-sm.text-gray-700.transition-all.duration-200(class='hover:text-gray-900') 
  | In this synchronous example I synchronously display things in the HTML. I tell you my story, too!
  textarea(rows="10" cols="60" disabled="true" style='background-color:ghostwhite; margin-top:10px').
              <script>
          document.write("I am Sync");
          document.write("<br>");
          document.write("I like to do one thing at a time...I'm very focused");
          document.write("<br>");
          document.write("Some people say I'm too relaxed, but I think I'm precise");
          document.write("<br>");
          document.write("So I'm in a race with my arch nemisis and collaborator ASync");
          document.write("<br>");
          document.write("Let's see who gets to the finish line first!");
      </script>

  br
  br
  | I am generlly simple and straightforward. Unlike ASynch!. Below is my output: 
  br
  br
  iframe(width='100%', height='250', src='//jsfiddle.net/bakukai/x8uLyaj2/4/embedded/result/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')

