script.
  hljs.initHighlightingOnLoad();
container
 p.font-light.font-mono.text-sm.text-gray-700.transition-all.duration-200(class='hover:text-gray-900') 
  img.max-w-full.h-auto(src='https://mdbootstrap.com/img/new/slides/041.jpg', alt='...')
  | Well, I don't have an alternative for AWAIT in a synchronous version! So I'll just show you this above beautiful picture of Yosemite!
  a.text-blue-400.transition.duration-300.ease-in-out.mb-4(href="https://mdbootstrap.com/img/new/slides/041.jpg", class='hover:text-blue-500') This image is from the TailWind tutorial page   